@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Montserrat:wght@100..900&display=swap');

:root {
  --primary-color-light: #091522; /* สีหลักในธีมสว่าง */
  --primary-color-dark: #212f48; /* สีหลักในธีมมืด */
  --background-light: #f4f4f4; /* พื้นหลังในธีมสว่าง */
  --background-dark: #333; /* พื้นหลังในธีมมืด */
  --text-light: #000000; /* สีข้อความในธีมสว่าง */
  --text-dark: #000000; /* สีข้อความในธีมมืด */
}

/* Animation สำหรับ Fade-In */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* เพิ่ม fade-in effect */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  line-height: 1.6;
  color: #333;
  background: #f4f4f4;
  animation: fadeIn 0.5s ease-in-out; /* เพิ่ม animation fade-in 0.5 วินาที */
  background-color: var(--background-light);
  color: var(--text-light);
}
body.dark-theme {
  background-color: var(--background-dark);
  color: var(--text-dark);
}
body.dark-theme header {
  background-color: var(--primary-color-dark);
}

header {
  background: #0073e6;
  text-align: center; /* จัดกลางรูปภาพ */
  background-color: var(--primary-color-light);
  color: var(--text-light);
}

head.dark-theme {
  background-color: var(--background-dark);
  color: var(--text-dark);
}
head.dark-theme header {
  background-color: var(--primary-color-dark);
}

header img {
  max-width: 30%;
  border: 5px solid #efc050;
  border-radius: 50%;
  animation: fadeIn 0.5s ease-in-out;
}
nav {
  background: #333;
  animation: fadeIn 0.5s ease-in-out; /* เพิ่ม animation fade-in 0.5 วินาที */
  background-color: var(--background-light);
  color: var(--text-light);
}

body.dark-theme {
  background-color: var(--background-dark);
  color: var(--text-dark);
}
body.dark-theme header {
  background-color: var(--primary-color-dark);
}


@media (max-width: 768px) {
  nav {
    font-size: 14px; /* ลดขนาดตัวอักษร */
    padding: 0px; /* ลบ Padding ส่วนเกิน */
    display: flex; /* ใช้ Flexbox */
    justify-content: center; /* จัดรายการทั้งหมดให้อยู่ตรงกลาง */
    align-items: center; /* จัดให้อยู่แนวกลาง */
    line-height: 1px; /* ความสูงของ Navbar */
    background-color: #f8f8f8; /* สีพื้นหลัง Navbar */
  }
}

ื.nav_links {
  display: flex; /* Flexbox สำหรับจัดรายการ */
    justify-content: center; /* จัดรายการให้อยู่กึ่งกลาง */
    list-style: none; /* ลบ bullet point ของรายการ */
    padding: 0;
    margin: 0;
}

.nav_links li {
  display: inline-flex; /* Flexbox สำหรับเนื้อหาภายใน */
  justify-content: center; /* จัดข้อความให้อยู่กลาง */
  align-items: center; /* จัดข้อความให้อยู่ตรงกลาง */
  padding: 10px 20px; /* ช่องว่างแต่ละรายการ */
  margin: 10px; /* ระยะห่างระหว่างรายการ */
  border: 3px solid #FF0072; /* กรอบ */
  border-radius: 5px; /* มุมมน */
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.1); /* เงา */
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 16px;
  text-transform: uppercase; /* ตัวอักษรใหญ่ */
  letter-spacing: 2px; /* ระยะห่างตัวอักษร */
  transition: 0.3s ease all; /* เอฟเฟกต์เวลา Hover */
  cursor: pointer; /* เปลี่ยน Cursor เมื่อ hover */
}

.nav_links li a {
    text-decoration: none; /* ลบขีดเส้นใต้ */
    color: black; /* สีตัวอักษร */
}

.nav_links li:hover {
    background-color: #FF0072; /* สีพื้นหลังเมื่อ Hover */
    color: white; /* สีตัวอักษรเมื่อ Hover */
}

 

.container {
  width: 80%;
  max-width: 1200px;
  margin: auto;
  overflow: hidden;
  padding: 1em;
  background: #cdcdcd;
  margin-bottom: 1em;
  border-radius: 7px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  animation: fadeIn 0.5s ease-in-out; /* เพิ่ม animation fade-in 0.5 วินาที */
}

.container h1,p {
  
  text-align: center;
  animation: fadeIn 0.5s ease-in-out; /* เพิ่ม animation fade-in 0.5 วินาที */
  font-family: "Kanit";
}

.project {
  margin-bottom: 2em;
  text-align: center;
  animation: fadeIn 0.5s ease-in-out; /* เพิ่ม animation fade-in 0.5 วินาที */
  display: flex;
  flex-direction: column;
}

.project p {
  margin-bottom: 2em;
  text-align: center;
  animation: fadeIn 0.5s ease-in-out; /* เพิ่ม animation fade-in 0.5 วินาที */
  font-family: "Kanit";
}

.project h3 {
  margin-bottom: 0.5em;
  font-size: 1.5em;
  color: #0073e6;
  animation: fadeIn 0.5s ease-in-out; /* เพิ่ม animation fade-in 0.5 วินาที */
}

.project-img {
  border-radius: 15px;
  margin: 1em 0;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  animation: fadeIn 0.5s ease-in-out; /* เพิ่ม animation fade-in 0.5 วินาที */
  width: 100%; /* กำหนดให้ขนาดของรูปเต็มความกว้างของ parent container */
  max-height: 250px; /* กำหนดความสูงสูงสุด */
  object-fit: contain; /* ให้รูปแสดงเต็มโดยไม่ตัด */
  outline: auto;
}

.certi {
  border-radius: 15px;
  margin: 1em 0;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  animation: fadeIn 0.5s ease-in-out; /* เพิ่ม animation fade-in 0.5 วินาที */
  width: 100%; /* กำหนดให้ขนาดของรูปเต็มความกว้างของ parent container */
  max-height: 250px; /* กำหนดความสูงสูงสุด */
  outline: auto;
  object-fit: contain; /* ให้รูปแสดงเต็มโดยไม่ตัด */
}

.paper {
  border-radius: 15px;
  margin: 1em 0;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  animation: fadeIn 0.5s ease-in-out; /* เพิ่ม animation fade-in 0.5 วินาที */
  width: 100%; /* กำหนดให้ขนาดของรูปเต็มความกว้างของ parent container */
  max-height: 250px; /* กำหนดความสูงสูงสุด */
  object-fit: contain; /* ให้รูปแสดงเต็มโดยไม่ตัด */
  outline: auto;
}

.project p {
  font-size: 1em;
  line-height: 1.5;
  color: #333;
  font-weight: 500;
  animation: fadeIn 0.5s ease-in-out; /* เพิ่ม animation fade-in 0.5 วินาที */
}

#small-img {
  border-radius: 15px;
  margin: 1em 0;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  animation: fadeIn 0.5s ease-in-out; /* เพิ่ม animation fade-in 0.5 วินาที */
  width: 20%; /* กำหนดให้ขนาดของรูปเต็มความกว้างของ parent container */
  max-height: auto; /* กำหนดความสูงสูงสุด */
  object-fit: contain; /* ให้รูปแสดงเต็มโดยไม่ตัด */
  outline: auto;
  
}

.Activities {
  margin-bottom: 2em;
  text-align: center;
  animation: fadeIn 0.5s ease-in-out; /* เพิ่ม animation fade-in 0.5 วินาที */
}

.Activities h3 {
  margin-bottom: 0.5em;
  font-size: 1.5em;
  color: #0073e6;
  animation: fadeIn 0.5s ease-in-out; /* เพิ่ม animation fade-in 0.5 วินาที */
}

.Activities-img {
  max-width: 30%;
  height: auto;
  border-radius: 15px;
  margin: 1em 0;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  animation: fadeIn 0.5s ease-in-out; /* เพิ่ม animation fade-in 0.5 วินาที */
  outline: auto;
}

.Activities p {
  font-size: 1em;
  line-height: 1.5;
  color: #333;
  font-weight: 500;
  animation: fadeIn 0.5s ease-in-out; /* เพิ่ม animation fade-in 0.5 วินาที */
  font-family:"Kanit";
}
.iframe-container {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%; /* Aspect ratio 16:9 */
  overflow: hidden;
}
.iframe-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.Activities a {
  justify-content: space-between;
}
.contact p {
  letter-spacing: 0.5px;
}

footer {
  background: #333;
  color: #000000;
  text-align: center;
  padding: 1em 0;
  margin-top: 1em;
  animation: fadeIn 0.5s ease-in-out; /* เพิ่ม animation fade-in 0.5 วินาที */
  background-color: var(--primary-color-light);
}
body.dark-theme footer {
  background-color: var(--primary-color-dark);
}


button {
   background-color: rgba(0,136,169,1);
   border: none;
   border-radius: 50px;
   cursor: pointer;
   transition: all 0.3s ease all;
   margin: 10px;
   align-items: center;
   justify-content: center;
   margin-left: 45%;
   font-size: large;
   font-family:"Montserrat";
   color: #000000;
}

button:hover {
  background-color: rgba(0,136,169,0.8);
}

h3 {
  font-family:"Kanit";
}

.Charity {
  border-radius: 15px;
  margin: 1em 0;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  animation: fadeIn 0.5s ease-in-out; /* เพิ่ม animation fade-in 0.5 วินาที */
  width: 50%; /* กำหนดให้ขนาดของรูปเต็มความกว้างของ parent container */
  height: auto; /* กำหนดความสูงตายตัวสำหรับรูปภาพ */
  object-fit: cover; /* หรือใช้ contain ถ้าต้องการให้รูปไม่ตัด */
}