:root {
  --primary-color-light: #091522; /* สีหลักในธีมสว่าง */
  --primary-color-dark: #212f48; /* สีหลักในธีมมืด */
  --background-light: #f4f4f4; /* พื้นหลังในธีมสว่าง */
  --background-dark: #333; /* พื้นหลังในธีมมืด */
  --text-light: #000000; /* สีข้อความในธีมสว่าง */
  --text-dark: #000000; /* สีข้อความในธีมมืด */
}

/* Animation สำหรับ Fade-In */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* เพิ่ม fade-in effect */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  line-height: 1.6;
  color: #333;
  background: #f4f4f4;
  animation: fadeIn 0.5s ease-in-out; /* เพิ่ม animation fade-in 0.5 วินาที */
  background-color: var(--background-light);
  color: var(--text-light);
}
body.dark-theme {
  background-color: var(--background-dark);
  color: var(--text-dark);
}
body.dark-theme header {
  background-color: var(--primary-color-dark);
}

header {
  background: #0073e6;
  text-align: center; /* จัดกลางรูปภาพ */
  background-color: var(--primary-color-light);
}

header img {
  max-width: 20%;
  border: 5px solid #efc050;
  border-radius: 50%;
  animation: fadeIn 0.5s ease-in-out;
}

nav {
  background: #333;
  animation: fadeIn 0.5s ease-in-out; /* เพิ่ม animation fade-in 0.5 วินาที */
}

nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: large;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
nav ul li {
  background-color: #333; /* ใส่สีพื้นหลังให้กับแต่ละรายการ */
  margin: 0 1em;
  padding: 10px 15px; /* ปรับให้มีระยะห่างรอบๆ */
  border-radius: 5px; /* มุมโค้ง */
}

nav ul li a {
  color: white;
  text-decoration: none;
  display: block;
}

nav ul li a:hover {
  text-decoration:dashed;
}


.container {
  width: 80%;
  max-width: 1200px;
  margin: auto;
  overflow: hidden;
  padding: 1em;
  background: #cdcdcd;
  margin-bottom: 1em;
  border-radius: 7px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  animation: fadeIn 0.5s ease-in-out; /* เพิ่ม animation fade-in 0.5 วินาที */
}

.project {
  margin-bottom: 2em;
  text-align: center;
  animation: fadeIn 0.5s ease-in-out; /* เพิ่ม animation fade-in 0.5 วินาที */
}

.project h3 {
  margin-bottom: 0.5em;
  font-size: 1.5em;
  color: #0073e6;
  animation: fadeIn 0.5s ease-in-out; /* เพิ่ม animation fade-in 0.5 วินาที */
}

.project-img {
  max-width: 22%;
  height: auto;
  border-radius: 15px;
  margin: 1em 0;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  animation: fadeIn 0.5s ease-in-out; /* เพิ่ม animation fade-in 0.5 วินาที */
}

.project p {
  font-size: 1em;
  line-height: 1.5;
  color: #333;
  font-weight: 500;
  animation: fadeIn 0.5s ease-in-out; /* เพิ่ม animation fade-in 0.5 วินาที */
}

#small-img {
  max-width: 20%;
}

.Activities {
  margin-bottom: 2em;
  text-align: center;
  animation: fadeIn 0.5s ease-in-out; /* เพิ่ม animation fade-in 0.5 วินาที */
}

.Activities h3 {
  margin-bottom: 0.5em;
  font-size: 1.5em;
  color: #0073e6;
  animation: fadeIn 0.5s ease-in-out; /* เพิ่ม animation fade-in 0.5 วินาที */
}

.Activities-img {
  max-width: 30%;
  height: auto;
  border-radius: 15px;
  margin: 1em 0;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  animation: fadeIn 0.5s ease-in-out; /* เพิ่ม animation fade-in 0.5 วินาที */
}

.Activities p {
  font-size: 1em;
  line-height: 1.5;
  color: #333;
  font-weight: 500;
  animation: fadeIn 0.5s ease-in-out; /* เพิ่ม animation fade-in 0.5 วินาที */
}
.contact p {
  letter-spacing: 0.5px;
}

footer {
  background: #333;
  color: #000000;
  text-align: center;
  padding: 1em 0;
  margin-top: 1em;
  animation: fadeIn 0.5s ease-in-out; /* เพิ่ม animation fade-in 0.5 วินาที */
  background-color: var(--primary-color-light);
}
body.dark-theme footer {
  background-color: var(--primary-color-dark);
}
main button {
  margin-left: 2.5%;
}